@import "tailwindcss";

:root {
  --background: #414141;
  --text: #ffffff;
  --accent: #b8ff01;
}

@theme inline {
  --color-background: var(--background);
  --color-accent: var(--accent);
}

@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

body {
  background: var(--background);
  color: var(--text);
  font-family: Tektur, Helvetica, sans-serif;
}
